// Path alias
$assetPath :                '../';
$imgPath:                   '#{$assetPath}img/ui';
$fontPath :                 '../font';

// Type
// --------------------------------------------------
// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Base Font
$base-font-family:          arial,sans-serif !default;
$base-font-weight:          $regular !default;
$base-font-size:            16px !default;
$base-line-height:          1.5 !default;
$base-margin-bottom:        1rem !default;

// Headings
$header-font-family:        'adelle', serif !default;
$header-font-weight:        $regular !default;
$header-font-size:          1.067rem !default;

$body-font-size:            1rem !default;

$tertiary-font-family:      'pt-serif', serif !default;

$script-font-family:        'kremlin-pro-web-expanded', serif !default;

// Media queries
// --------------------------------------------------
$desktop:                   1024px !default;

// Layout
// --------------------------------------------------
$main-width:                820px !default;
$vertical-padding:          35px !default;
$gutter:                    35px / $main-width * 100 !default;
$mobile-gutter:             5% !default;
$mobile-gutter-main:        8% !default;

// Colors
// -------------------------
$primary-color:             #0099cc !default;
$red-color:                 #7c152c !default;
$light-grey-color:          #cecece !default;
$grey-bg-color:             #f0f0f0 !default;
$dark-grey-color:           #4a4a4a !default;
$dark-blue-color:           #046c8f !default;
$light-blue-color:          #44cefc !default;
$red-heading-color:         #c13a3e !default;

$body-text-color:           #767676 !default;
$dark-text-color:           #000 !default;
$dark-blue-text-color:      #000099 !default;

$link-color:                $primary-color !default;
$link-hover-color:          $primary-color !default;
    
// Backgrounds
// -------------------------
$body-bg:                   #fff !default;
$footer-bg:                 $primary-color !default;
$grey-bg:                   #f0f0f0 !default;
$blue-bg:                   #eaf6fa !default;
