/* Type
-------------------------------------------------------------- */
body {font:$base-font-size $base-font-family;line-height:$base-line-height;color:$body-font-color;}
select, input, textarea, button { font:99% $base-font-family; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; }
a { -webkit-tap-highlight-color: #000;text-decoration:none; text-decoration:none;color:$dark-color;
	&:hover {color:$primary-color;}
}

h1 {font:700 1.75rem/60px $h1-font-family;text-transform:uppercase;}
h2 {font:2rem/1.5 $h2-font-family;}
p {font:1.5rem/1.5 $base-font-family;margin-bottom:1rem;}

.page:nth-child(even) {
	h1,
	h2,
	p {color:#fff}
}