/* Navigation
----------------------------- */
/* main menu */
.nav-primary {position:relative;padding-top:3.5em;border-top:1px solid $light-grey-color;background:#fff;
    @include mediaquery($desktop) {border-top:6px solid $primary-color;border-bottom:1px solid $light-grey-color;padding-top:0;text-align:center;}
    a {display:block;text-transform:uppercase;width:100%;}
    .nav-current {@include mediaquery($desktop) {background:$primary-color;color:#fff;}}
}
.nav-primary-list {
    a {width:auto;font-size:.875rem;position:relative;font-weight:$bold;padding:12px 0 12px 7%;background:$primary-color;color:#fff;border-bottom:1px solid #01a8e0;
        @include mediaquery($desktop) {color:$dark-text-color;background:#fff;padding:0 20px;height:43px;line-height:43px;border-bottom:0 none;border-right:1px solid $light-grey-color;}
        &.nav-current {background: $dark-blue-color;@include mediaquery($desktop) {background:$primary-color;color:#fff;}}
    }
}
.nav-primary-item {position:relative;white-space:nowrap;width:auto;
    &:last-child a {border-bottom:1px solid #fff;
        @include mediaquery($desktop) {border-right:0 none;border-bottom:0 none;}
    }
    @include mediaquery($desktop) {display:inline-block;}
}
//dropdown only on non-touch devices
.no-touch .nav-primary-item:hover {
    a {@include mediaquery($desktop) {background:$primary-color;color:#fff;}
        &.nav-current {@include mediaquery($desktop) {color:#fff;}}
    }
    ul {z-index:100;
        @include mediaquery($desktop) {display:block;position:absolute;top:44px;width:auto;}
        a {@include mediaquery($desktop) {color:$light-blue-color;border-bottom:1px solid #11a9db;text-align:left;font-size:.775rem;}}
        li {
            @include mediaquery($desktop) {display:block;}
            a {@include mediaquery($desktop) {border-right:0 none;}
                @include mediaquery($desktop) {&:hover {color:#fff;}}
            }
        }
    }
}

.dropdown-visible {
    ul {display:block;}
    .dropdown-visible {border-bottom:0 none;
        ul a {list-style:none;border-bottom:0 none;white-space:normal;
            @include mediaquery($desktop) {padding-left:20px;}
            &.nav-current {color:$dark-blue-color;}
        }
    }
}
.dropdown-hidden ul {display:none;
    @include mediaquery($desktop) {display:block;}
}
.dropdown-hidden ul ul,
.dropdown-visible ul ul,
li.dropdown-hidden ul,
li.dropdown-visible ul {
    @include mediaquery($desktop) {display:none;}
}

.nav-primary-list .dropdown-visible a.nav-sub-toggle {background: $dark-blue-color url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjIzLjFweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjMuMSAxNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjMuMSAxNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWxpbmUgZmlsbD0iIzAxQThFMCIgcG9pbnRzPSIyMy4xLDE0IDAsMTQgMTEuNSwwIDIzLjEsMTQgIi8+DQo8L3N2Zz4NCg==) 95% center no-repeat;border-bottom:0 none;
    @include mediaquery($desktop) {background:#fff;color:$primary-color;}
    &.nav-current {@include mediaquery($desktop) {background:$primary-color;color:#fff;}}
}
.nav-primary-list .dropdown-visible ul a {background:$light-blue-color;
    @include mediaquery($desktop) {background:#fff;color:$primary-color;}
}

//menu toggle buttons
a.nav-toggle-button img {padding-top:16px;}
#nav-toggle {position:absolute;top:0;padding-left:$mobile-gutter;height:56px;color:$primary-color;font-weight:$bold; border-bottom:1px solid $light-grey-color;font-size:.9rem;
    span {position:relative;top:-4px;margin:0 0 0 12px}
    @include mediaquery($desktop) {display:none;visibility:hidden;}
}
.nav-primary-list a.nav-sub-toggle {background:$primary-color url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjIzLjA2M3B4IiBoZWlnaHQ9IjE0LjAycHgiIHZpZXdCb3g9IjAgMCAyMy4wNjMgMTQuMDIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIzLjA2MyAxNC4wMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWxpbmUgZmlsbD0iIzAxQThFMCIgcG9pbnRzPSIwLDAgMjMuMDYzLDAgMTEuNTMxLDE0LjAyIDAsMCAiLz4NCjwvc3ZnPg0K) 95% center no-repeat;
    @include mediaquery($desktop) {background:transparent;}
    &.nav-current {@include mediaquery($desktop) {background:$primary-color;}}
}

/* side menu */
.nav-side-menu {display:none;
    @include mediaquery($desktop) {display:block;position:absolute;left:0;top:0;width:206px;}
    a {font-size:.875rem;display:block;color:$body-text-color;line-height:19px;font-weight:$bold;padding-bottom:15px;margin-bottom:15px;
        @include mediaquery($desktop) {border-bottom:1px solid $light-grey-color}
        &.nav-current,
        &:hover {color:$primary-color;}
    }
}
.nav-side-menu-holder { display:none;
    @include mediaquery($desktop) {display:block;position:absolute;left:0;top:0;width:206px;}
    .nav-side-menu {position:relative;margin-bottom:$vertical-padding;}
}
.nav-jump-alumni {
    a {color:$dark-text-color;}
}

/* incremental menu */
.nav-incremental {
    a {display:inline-block;width:50%;position:relative;font:$bold 1.067rem $base-font-family;color:$primary-color;vertical-align:top;
        span {display:block;clear:left;font-weight:$regular;color:$dark-blue-text-color;}
        &:before {display:block;position:absolute;top:6px;border-top:1px solid $primary-color;width:33px;height:33px;content:'';}
        &.nav-incremental-previous {margin-bottom:35px;text-align:left;padding-left:35px;padding-right:2%;
            &:before {left:0px;margin-left:0;border-left:1px solid $primary-color;transform: rotate(-45deg);}
        }
        &.nav-incremental-next {padding-right:35px;text-align:right;padding-left:2%;
            &:before {right:0;margin-right:0;border-right:1px solid $primary-color;transform:rotate(45deg);}
        }
    }
    &.nav-incremental-single a {width:100%;
        &.nav-incremental-previous {padding-left:35px;margin-bottom:0;padding-right:1%;
            &:before {left:0px;margin-left: 0;}
        }
        &.nav-incremental-next {padding-right:35px;text-align:right;padding-left:1%;
            &:before {margin-right:0;right:0px;}
        }
    }
}
.no-transform .nav-incremental {
    a {
        &:before {border:0 none !important;display:none;}
        &.nav-incremental-previous,
        &.nav-incremental-next {
            &:before {border:0 none !important;}
        }
    }
}

/* Image menu (features) */
.nav-image-menu {
    a {text-align:center;display:block;padding-bottom:90px;position:relative;border-bottom:1px solid $light-grey-color;margin-bottom:60px;
        img {display:block;margin:0 auto $vertical-padding / 2 auto}
        h1 {display:block;position:absolute;left:0;right:0;font:$regular 1.125rem $header-font-family;text-align:center;}
        &:hover h1 {color:$light-blue-color;} 
    }
}