/* Print
-------------------------------------------------------------- */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  body {border:0 none !important; font-size: 12pt;}
  .header {height:auto;margin-bottom:1em;border:0 none;}
  .navigation,
  .pagination,
  .top,
  .footer dl,
  .footer ul,
  .back {display:none !important;}
  fieldset {padding:1em;}
  .checkbox input,
  .radio input {top:-6px !important}
  .legend,
  .resources dt span {padding:10px 0 0 0 !important;}
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .header a[href]:after { content: none }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a img {text-decoration:none !important;border:0 none !important;}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img, .row,  input, label, textarea { page-break-inside: avoid !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; padding-left:0 !important;} 
}