/* Reset
-------------------------------------------------------------- */
*,
*:before,
*:after {box-sizing:border-box;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, button, cde, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, figure, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; }
blockquote:before,
blockquote:after,q:before, q:after { content: ""; }
a { text-decoration: none; }
a:hover { outline: none; }
a img { border: none; }
html { overflow-y: scroll; }
img, video { max-width: 100%; height: auto; }
address { font-style: normal; }
button:hover { cursor: pointer; }
button, button:focus { outline: 0; background: transparent; }
button img { vertical-align: baseline; }
textarea { resize: none; }
input[type=submit] { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }